html, body {
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}
.hide {
    display: none;
}
.relative {
    position: relative;
    height: 100%;
}
.page7{
    background-color: #f03c54;
    cursor: pointer;
    transition: all 0.3s ease-in;
}