html, body {
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}
.hide {
    display: none;
}
.relative {
    position: relative;
    height: 100%;
}
.page8{
    background-color: #f03c54;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.content-page8 .text,
.content-page8 .text17,
.content-page8 .eye-end2{
    position: absolute;
    transition: all 0.3s ease-in;
}

.content-page8 .text{
    height: 300px;
    width: 735px;
    margin: auto;
    top: 0;
    right: 300px;
    bottom: 0;
}

.content-page8 .text16{
    height: 100%;
    width: 100%;
}

.content-page8 .eye-end{
    height: 580px;
    margin: auto;
    margin-right: -17%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}