html, body {
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}
.hide {
    display: none;
}
.relative {
    position: relative;
    height: 100%;
}
.page3{
    background-color: #8c3c64;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

/* content-page3 */
.content-page3 .page-btn3{
    position: absolute;
    transition: all 0.3s ease-in;
}

/* Contenido */
.content-page3 .page-btn3 {
    width: 10vw;
    margin: auto;
    bottom: 8.5vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}
.content-page3 .page-btn3 img{
    height: 100%;
    cursor: pointer;
}

@media (min-width: 900px){
    .content-page3 .page-btn3{
        bottom: 21.5vh;
    }
}
@media (min-width: 1080px){
    .content-page3 .page-btn3{
        bottom: 16.5vh;
    }
}
@media (min-width: 1200px){
    .content-page3 .page-btn3{
        bottom: 7.5vh;
    }
}