html, body {
    height: 100%;
    font-size: 16px;
    overflow: hidden;
}
.hide {
    display: none;
}
.relative {
    position: relative;
    height: 100%;
}
.page2{
    background-color: #90433d;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

/* content-page2 */
.content-page2 .eye-cond,
.content-page2 .text5,
.content-page2 .check,
.content-page2 .text6,
.content-page2 .page-btn2{
    position: absolute;
    transition: all 0.3s ease-in;
}

.content-page2 .eye-cond{
    max-height: 900px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.content-page2 .text5 {
    position: absolute;
    color:white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-page2 .check {
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.content-page2 .check:hover{
    background-color: rgb(241, 166, 166);
}
.content-page2 .check:checked {
    background-color: rgb(172, 67, 67);
}

.content-page2 .text6 {
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.content-page2 .page-btn2 {
    height: 4em;
    bottom: 1em;
    text-align: center;
    width: 100%;
    margin: auto;
    top: 555px;
    left: 0;
    right: 0;
}
.content-page2 .page-btn2 img{
    height: 100%;
    cursor: pointer;
}

@media (min-width: 576px){
    .content-page2 .eye-cond{
        height: 16.5em;
    }
    .content-page2 .text5{
        font-size: 13px;
        width: 125px;
        height: 75px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        line-height: 0.9;
    }
    .content-page2 .check{
        width: 0.8em;
        height: 0.8em;
        margin: auto;
        top: 320px;
        left: 0;
        right: 0;
    }
    .content-page2 .text6 {
        font-size: 10px;
        width: 90px;
        margin: auto;
        top: 335px;
        left: 0;
        right: 0;
    }
}
@media (min-width: 768px){
    .content-page2 .eye-cond{
        height: 22em;
    }
    .content-page2 .text5{
        font-size: 16.5px;
        width: 150px;
        height: 100px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        line-height: 0.9;
    }
    .content-page2 .check{
        width: 0.9em;
        height: 0.9em;
        margin: auto;
        top: 335px;
        left: 0;
        right: 0;
    }
    .content-page2 .text6 {
        font-size: 12px;
        margin: auto;
        top: 350px;
        left: 0;
        right: 0;
    }
}
@media (min-width: 992px){
    .content-page2 .eye-cond{
        height: 28em;
    }
    .content-page2 .text5 {
        font-size: 20px;
        width: 200px;
        height: 150px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        line-height: 1;
    }
    .content-page2 .check{
        width: 1.1em;
        height: 1.1em;
        margin: auto;
        top: 350px;
        left: 0;
        right: 0;
    }
    .content-page2 .text6 {
        font-size: 13px;
        margin: auto;
        width: 100%;
        top: 375px;
        left: 0;
        right: 0;
    }
}
@media (min-width: 1200px){
    .content-page2 .eye-cond{
        height: 32em;
    }
    .content-page2 .text5 {
        font-size: 25px;
        width: 250px;
        height: 200px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        line-height: 1.1;
    }
    .content-page2 .check{
        width: 1.3em;
        height: 1.3em;
        margin: auto;
        top: 405px;
        left: 0;
        right: 0;
    }
    .content-page2 .text6 {
        font-size: 14px;
        width: 100%;
        margin: auto;
        top: 430px;
        left: 0;
        right: 0;
    }
}